/* ************************************************   
Theme Name:integrative
Author: Technology Wisdom Team
Version: 1.0
Description: Custom Theme.
*/


/*====== Fonts ======*/
@font-face {font-family: 'Proxima-Nova-Bold';src: url('./fonts/Proxima-Nova-Bold.otf');}
@font-face {font-family: 'ProximaNova-Regular';src: url('./fonts/ProximaNova-Regular.ttf');}
@font-face {font-family: 'PTSans-Bold';src: url('./fonts/PTSans-Bold.ttf');}
@font-face {font-family: 'PTSans-Regular';src: url('./fonts/PTSans-Regular.ttf');}

/*====== Fonts ======*/

/*======General======*/
html{
    scroll-behavior: smooth;
}
h1,h2,h3,h4,h5,h6,a,p{
    font-family:"PTSans-Regular";
}
a:hover{
    font-style: normal;
    text-decoration: none;
    opacity: 0.7;
}
img{
    max-width: 100%; 
}
a{
    display: inline-block;
	 
}
p a{
	 color: #04CAF5 !important;
}
/* =====General===== */

/* =Header Section== */
header{
    background : url(images/header-border.png);
    background-repeat : no-repeat;
    background-position : center left 31%;
    padding : 10px 0 55px;
    z-index: 2;
}
header .header-nav{
    display: flex;
	padding-left:30px;
}
header .navbar{
    display: block;
    padding-right:0;
    margin-top:10px;
    box-shadow: unset;
}
header .header-nav .nav-link{
    font-size:14px;
    color:black!important;
    padding:0px 10px!important;
}
.header-nav .search-and-btn{
    display: flex;
    list-style: none;
    padding-left: 0;
    margin:10px 0px 0px 25px;
}
.header-nav .search-and-btn li{
    float: left;
}
.header-nav .search-and-btn li:nth-child(1) button{
    border:0;
    outline:0;
    background-color: transparent;
    margin-top:5px;
}
.header-nav .search-and-btn li:nth-child(2) a{
    margin:-5px 0 0 10px;
    font-size:16px;
    background-color:#6CD026;
    color:white;
    padding:13px 22px;
    border-radius:30px;
}
header .header-border img{
    margin-top:-30px;
    width: 100%;
}
.logo a img {
    position: relative;
    top: 6px;
}
/* =Header Section== */

/* Main Banner Section */
.main-banner{
    background: url(images/banner-bottom-border.png) no-repeat center bottom;
    padding-bottom: 6.3%;
    background-size:100% ;
}
.main-banner .banner-image img{
    width: 100%;
    z-index: -1;
    margin-top:-75px;
    position: relative;
}
.main-banner .banner-text h1{
    position: absolute;
    bottom:300px;
    font-family: "PTSans-Bold";
    font-size: 59px;
    line-height: 1.1;
    left:0;
}
.main-banner .banner-border img{
    width: 100%;
    position: relative;
    bottom: 110px;
}
/* Main Banner Section */

/* Study Purpose Section */
.study-purpose{
    margin: 0px 0 90px;
}
.study-purpose .our-study-image img{
    float: left;
    margin:0px 60px 25px 0;
    border-radius:5px;
    box-shadow: 0px 0px 20px #c5c5c5;
}
.study-purpose h3{
    font-size:34px;
    padding-left:630px;
    background:url(images/logo-icon.png);
    background-repeat: no-repeat;
    background-position: 580px 5px;
}
.study-purpose p{
    color:#848484;
    font-size:20px;
    margin:20px 0;
}
.study-purpose .learn-more-link{
    text-align: center;
    margin-top: 30px;
}
.study-purpose .learn-more-link a{
    font-size: 18px;
    color:white;
    background-color: #6CD026;
    padding: 10px 35px;
    border-radius: 30px;
}
/* Study Purpose Section */
  
/*Investigators Section */
.investigators{
    background: url('images/investigators-bg.png');
    background-position: bottom center;
    background-size: cover;
    padding:70px 0 175px;
}
.investigators .heading h2{
    font-size:34px;
    background:url(images/logo-icon.png) no-repeat;
    background-position: 14px 4px;
    margin-bottom:40px;
}
.investigators .carousel-inner{
    margin-left:0px;
}
.investigators .carousel-item .investigator{
     margin-top: 50px;
     transition: all 1s ease;
}
.investigators .carousel-item .investigator .video img.play-btn {
    position: absolute;
    z-index: 1;
    left: 110px;
    top: 160px;
    width: 40px;
}
.investigators .carousel-item.active .investigator:nth-child(2) .video img.play-btn {
    width: auto;
    left: -50px;
}
.investigators .carousel-item .investigator .video video {
    width: 100%;
}
.investigators .carousel-item.active .investigator:nth-child(2) .video video,
.investigators .carousel-item.active .investigator:nth-child(2) .video iframe {
    transition:transform 1s;
    transform: scale(1.5);
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0 0 20px #cecece;
}
.investigators .carousel-item.active .investigator:nth-child(2){
    margin-top: 60px;
}
.investigators .carousel-item .text{
    display: none;
}
.investigators .carousel-item.active .investigator:nth-child(2) .text{
    display:block;
    margin:15px 0 0 -25%!important;
    text-align:center;
    width:150%;
}
.investigators .carousel-item .investigator .video{
    text-align: center;
}
.investigators .carousel-item .text h3{
    font-family: 'PTSans-Bold';
    font-size: 26px;
    color: #4e4e4e;
    margin-top: 70px;
}
.investigators .carousel-item .text p{
    font-family: 'ProximaNova-Regular';
    font-size: 16px;
    color: #4e4e4e;
    line-height: 1.3;
}
.investigators .carousel-control-prev,
.investigators .carousel-control-next{
    opacity: 1;
    pointer-events: none;
}
.investigators .carousel-control-prev-icon,
.investigators .carousel-control-next-icon{
    pointer-events: auto;
    width: 90px!important;
    height:90px!important;
    top:85px;
}
.investigators .carousel-control-prev-icon:hover,
.investigators .carousel-control-next-icon:hover{
    opacity: 0.8;
}
.investigators .carousel-control-prev-icon {
    background: url('images/left-slider-arrow-1.png') no-repeat !important;
    position: absolute;
    left:-40px;
}
.investigators .carousel-control-next-icon{
    background: url('images/right-slider-arrow-1.png') no-repeat !important;
    position: absolute;
    right:-40px;
}
.carousel-item.active .about-box:nth-child(1),
.carousel-item.active .about-box:nth-child(2){
    border-right: 1px solid #ececec;
}
/*Investigators Section */

/* about css start */
section.about-us {
    padding-bottom: 130px;
    margin-top: -35px; /*tanver */
}
.about-us .carousel-item {
    text-align: center;
}
.about-us .heading h2 {
    font-size: 34px;
    background: url(images/logo-icon.png) no-repeat;
    background-position: 155px 4px;
    margin-bottom: 40px;
}
.about-us .card img {
    border-radius: 100%;
    width: 55%;
    border:10px solid #6cd026;
    margin: 0 auto;
    height:100%;
}

.about-us .card{
    box-shadow: none;
    padding: 0px 20px;
    text-align: center;
   
}
.about-box{
   border-right: 1px solid #ececec;
}
.about-box:last-child{
   border-right:none !important;
}
.card-body h4 {
    color: #04caf5;
    font-family:"PTSans-Bold";
    font-size: 19px;
    text-transform: uppercase;
}
.card-body p:nth-child(2) {
    color: #797979;
    font-size: 15px;
    margin-bottom: 8PX;
}
.card-body p:nth-child(3) {
    color: #797979;
    font-size: 16px;
    padding: 0px 3px;
    line-height: 1.3;
}
.card-body p:nth-child(4) {
    color:#62993c;
    font-size: 16px;
}
.carousel-control-prev-icon {
    width: 100%;
}
.card-body h4 {
    margin-bottom: 0px;
}
.about-us .carousel-control-prev,
.about-us .carousel-control-next{
    opacity: 1;
    pointer-events: none;
}
.about-us .carousel-control-prev-icon,
.about-us .carousel-control-next-icon{
    pointer-events: auto;
    width: 90px!important;
    height:90px!important;
    top:130px;
}
.about-us .carousel-control-prev-icon:hover,
.about-us .carousel-control-next-icon:hover{
    opacity: 0.8;
}
.about-us .carousel-control-prev-icon {
    background: url(images/left-slider-arrow-1.png) no-repeat!important;
    position: absolute;
    left:-15px;
}
.about-us .carousel-control-next-icon {
    background: url(images/right-slider-arrow-1.png) no-repeat!important;
    position: absolute;
    right:-25px;
}
.carousel-multi-item{
    margin-bottom: 0px !important;
    width:100%;
}
.about-us .about-btn a {
	position:relative;
	z-index:2;
    font-size: 18px;
    background-color: #6cd026;
    padding: 10px 30px;
    color: white !important;
    border-radius: 35px;
    margin-bottom: 32px;
    color: white !important;
}
.carousel-control-prev {
    left: -60px;
}
.carousel-control-next {
    right: -45px;
}
/* about css end  */

/*Non-Human Section Start*/
.non-human {
    background: url('images/non-human-bg.png');
    background-size: cover;
    padding: 200px 0 75px;
    margin-top: -200px;
    z-index: 1;
    position: relative;
}
 .non-human .heading h2 {
    font-size: 34px;
    background: url('images/logo-icon.png') no-repeat;
    background-position: 7%;
    margin-bottom: 40px;

}
.non-human .graph h3{
	margin-bottom:20px;
}
.non-human .graph a{
	background-color: #6CD026;
    color: white;
    font-size: 18px;
    padding: 10px 35px;
    border-radius: 30px;
}
/*Non-Human Section End*/

/*Our participants Section Start*/
.participants {
    padding: 100px 0 120px;
}
.participants.home .heading h2 {
    font-size: 34px;
    background: url('images/logo-icon.png') no-repeat;
    background-position: 12%;
    margin-bottom: 30px;
}
.jane-doe p,
.ann-doe p{
    font-size: 19px;
    color:#797979;
	margin:0;
}
.jane-doe .item p,
.ann-doe .item p{
	color:white;
	text-transform:capitalize;
}
.jane-doe p span,
.ann-doe p span{
    color: #6CD026;
}
.jane-doe,
.ann-doe{
    padding: 0px 0 120px;
}
.participants.jane-doe .heading h2,
.participants.ann-doe .heading h2 {
    font-family:'PTSans-Bold';
    font-size: 35px;
    color: #6CD026;
}
.ann-doe{
    background-color: #F8F9FF;
    padding:60px 0 120px;
}
.participants .item {
    overflow: hidden;
    height: 640px;
    width: 9%;
    display: inline-block;
    transition: all 0.7s ease;
}
.participants .filter {
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    margin: 0 auto;
    background-size: cover;
    height: 400px;
    margin-top: 100px;
    transition: all 0.7s ease;
    border-radius: 10px;
}
.participants .item h3 {
    position: absolute;
    bottom: -30px;
    left: 50%;
    background-color: #E1E1E1;
    border: 4px solid #fff;
    border-radius: 50%;
    padding: 5px;
    font-size: 25px;
    font-family: 'PTSans-Bold';
    transform: translate(-50%);
    z-index: 1;
}
.participants .item h3 span ,
.participants .item h4,
.participants .item .filter img  {
    display: none;
}
.participants .item.show h3 span ,
.participants .item.show h4,
.participants .item.show .filter img {
    display: block;
}
.participants .item.show{
    width: 25%;
}
.participants .item.show .filter {
    height: 520px;
    margin-top: 20px;
}
.participants .item.show h3 {
    background-color: #04CAF5;
    color: #fff;
    font-size: 40px;
    padding: 5px 15px;
    bottom: -40px;
}
.participants .item.show h3 span {
    font-size: 19px;
    text-align: center;
    font-family: 'PTSans-Regular';
	text-transform:capitalize;
}
.participants .item.show h3 span p{
	margin:0;
}
.participants .item.show .filter img {
    position: absolute;
    bottom: -10px;
    left: -8px;
}
.participants .item.item-9 h3 {
    font-size: 20px;
    padding: 10px 5px;
}
.participants .item.item-9.show h3 {
    font-size: 30px;
    padding: 10px 10px;
}
.participants .item.show h4 {
    position: absolute;
    bottom: -80px;
    font-size: 30px;
    left: 50%;
    transform: translate(-50%);
    font-family: 'PTSans-Bold';
}
.participants .item .filter .line {
    display: block;
    position: absolute;
    bottom: -35%;
    left: 50%;
    transform: translate(-50%);
}
.participants .item.show .filter .line {
    display: none;
}

/* .participants.home .item .filter-1,
.jane-doe .item .filter-1{
    background-image: url('images/image-1.jpg');
}
.participants.home .item .filter-2,
.jane-doe .item .filter-2  {
    background-image: url('images/image-2.png');
}
.participants.home .item .filter-3,
.jane-doe .item .filter-3  {
    background-image: url('images/image-3.jpg');
}
.participants.home .item .filter-4,
.jane-doe .item .filter-4  {
    background-image: url('images/image-4.jpg');
}
.participants.home .item .filter-5,
.jane-doe .item .filter-5 {
    background-image: url('images/image-5.jpg');
}
.participants.home .item .filter-6,
.jane-doe .item .filter-6 {
    background-image: url('images/image-6.jpg');
}
.participants.home .item .filter-7,
.jane-doe .item .filter-7  {
    background-image: url('images/image-7.jpg');
}
.participants.home .item .filter-8,
.jane-doe .item .filter-8 {
    background-image: url('images/image-8.jpg');
}
.participants.home .item .filter-9,
.jane-doe .item .filter-9  {
    background-image: url('images/image-9.jpg');
}

.ann-doe .item .filter-1  {
    background-image: url('images/1.png');
}
.ann-doe .item .filter-2  {
    background-image: url('images/2.png');
}
.ann-doe .item .filter-3  {
    background-image: url('images/3.png');
}
.ann-doe .item .filter-4  {
    background-image: url('images/4.png');
}
.ann-doe .item .filter-5  {
    background-image: url('images/5.png');
}
.ann-doe .item .filter-6  {
    background-image: url('images/6.png');
}
.ann-doe .item .filter-7  {
    background-image: url('images/7.png');
}
.ann-doe .item .filter-8  {
    background-image: url('images/8.png');
}
*/
.participants .button {
    margin-bottom: 40px;
    margin-top: -7px;
}
.participants .button img {
    margin-top: 20px;
    cursor: pointer;
}
.participants .prev {
    padding-right: 30px;
    background: url('images/prev-line.png') no-repeat;
    background-position: top right 35px;
}
.participants .next {
    padding-left: 30px;
    background: url('images/next-line.png') no-repeat;
    background-position: top left 35px;
}
.participants .btn-profiles {
    background-color: #6cd026;
    padding: 10px 40px;
    text-transform: capitalize;
    color: white;
    border-radius: 40px;
    font-size: 18px;
}
/*Our participants Section End*/

/* recent news start */
.recent-news{
    background-color:#f8f9ff;
    padding: 80px 0;
} 
.recent-news .heading h1{
    font-size: 34px;
    background-image: url("images/logo-icon.png");
    background-repeat: no-repeat;
    background-position-x: 50px;
    background-position-y: center;
    margin-bottom: 50px;
}
.recent-news .recent-card img.rnews-border {
    position: absolute;
    bottom: 44.5%;
    left: 15px;
    border-bottom-right-radius: 13%;
}
.recent-news .recent-card h3{
    font-size: 22px;
    font-family:"ProximaNova-Regular";
    color: black;
    margin: 15px 0px 10px;
    font-weight: bold;
}
.recent-news .recent-card p{
    font-size: 16px;
    color: #797979;
}
.recent-news .recent-card a{
    color:#3fa3dd;
    font-size: 18px;
}
.recent-news .view-btn a{
    background-color: #6cd026;
    padding: 10px 70px;
    font-size: 18px;
    color: white;
    border-radius: 25px;
}
.recent-news  .col-md-4.text-right img {
    margin-left: 17px;
}
.recent-news .recent-card p {
    padding-right: 14px;
}
/*Recent news End*/

/*Footer Start*/
footer {
    background: url('images/footer-bg.png') no-repeat;
    background-position: center top;
    background-size: cover;
    margin-top: -120px;
    padding-top: 115px;
}
.footer-text p {
    font-size: 20px;
    color: #191919;
}
.footer-text p:nth-child(2) a {
    color:#04caf5;
    font-family: "PTSans-Bold";
}
.footer-text p:nth-child(1) {
    margin-top: 20px;
    margin-bottom: 3px;
    line-height: 1.3;
}
.footer-text img:first-child{
    margin-right:20px;
}
.footer-text .right-border-line img{
    margin:15px 0 0;
}
.footer-nav ul{
    margin:5px 0 0px 20px;
}
.footer-nav ul li {
    float: left;
    list-style: none;
    margin: 12px 15px;
    font-size: 15px;
    font-family: "PTSans-Regular";
}
.footer-nav ul li a{
    color:black;
}
.footer-nav hr{
    border-top:2px solid rgb(58, 57, 57);
}
.copy-right p{
    font-size: 13px;
    font-family: "PTSans-Regular";
    color:#191919;
}
.footer-text{
    margin-top: 43px;
}
/* Footer End */

/* Profile section styling */
/* Profile First Half styling */
.profile-text{
    padding-left:8%;
}
.profile-text > p > span
{
    color: #89e6fa;
}
.enroll-btn{

    border: 2px solid #98de68;
    background-color: #98de68;
    border-radius: 40px!important;
}

.Collaborations-btn{

    color: #98de68;
    border: 2px solid #98de68;
    border-radius: 40px!important;
}

/* Profile Second Half styling */

.profile-video{

    padding-left: 3%;
    padding-right: 10%;
}
.profile-card > h4{
    color: #6cd026;
}

/*Profile styling  end*/
 
/*collaboration styling  Start*/
.collaboraion{
    margin:-30px 0 200px;
}
.family-study{
    /* padding-left: 100px; */
} 
.family-study-text{
    align-self: center;
}

.collaboration-box h1{
    font-family: 'PTSans-Bold';
    font-size: 35px;
    color: #6CD026;
    margin-bottom:20px;
}
.collaboration-box p{
    font-family: 'PTSans-Regular';
    font-size: 22px;
    color: #797979;
    line-height:normal;
    margin-bottom:25px;
}
.collaboration-box a{
    font-family: 'PTSans-Regular';
    font-size: 18px;
    color: #FFFFFF;
    border-radius: 25px!important;
    background-color: #6CD026;
    padding:12px 30px;
    color: white !important;
}
.collaboration-box img{
    box-shadow: 0px 10px 15px #c5c5c5;
}
.consortium-text{
    align-self: center;
}
.consortium-img{
    /* padding-left: 65px; */
}

.consortium{
    margin-top: 70px;
}
.genomics{
    margin-top: 100px;
}
.genomics-text{
    align-self: center;
}
/*collaboration styling  End*/

/*Inner Banner 1 Styling Start*/
.inner-banner-1 {
    background: url(images/inner-banner.png) no-repeat center bottom;
    background-size: 100%;
    background-color: #F8F9FF;
    padding: 150px 0 105px;
    margin-top: -75px;
    z-index: -1;
    position: relative;
}
.inner-banner-1 .banner-text h1 {
    position: absolute;
    bottom: 55px;
    font-family: "PTSans-Bold";
    font-size: 45px;
    line-height: 1.1;
    width: 100%;
    left:0;
}
/*Inner Banner 1 Styling End*/

/* Inner Banner 2 Section */
.inner-banner-2{
    background: url(images/inner-banner.png) no-repeat center bottom;
    padding-bottom: 20px;
    background-size:100% ;
}
.inner-banner-2 .banner-image img{
    width: 100%;
    z-index: -1;
    margin-top:-75px;
    position: relative;
}
.inner-banner-2 .banner-text h1{
    position: absolute;
    bottom:145px;
    font-family: "PTSans-Bold";
    font-size: 45px;
    color:white;
    width:100%;
    left:0;
}
.inner-banner-2 .banner-border img{
    width: 100%;
    position: relative;
    bottom: 110px;
}
/* Innrt Banner 2 Section */

/*Enroll page csss start  */
.enroll-study {
    margin-top: -40px;
}
.enroll-text h1{
    font-family: 'PTSans-Bold';
    font-size: 44px;
    text-align: left;
    width: auto;
    color:#6CD026;
    line-height:1;
    margin-bottom: 20px;
}
.enroll-text h1 span{
    font-size: 83.62px;
    color:#04CAF5;
}
.enroll-text > p{
    font-family: "PTSans-Regular";
    font-size: 20px;
    text-align: left;
    color:#797979;
}
.enroll-text p:nth-child(1){
    margin-bottom: 36px !important;
}
.enroll-form-input{
    border: #EBEBEB;
    box-shadow: 0px 0px 20px rgba(0,0,0,7%) ;
    border-radius: 30px;
}
.enroll-form-input::placeholder{
    font-family:"PTSans-Regular";
    font-size:15px;
    color:#AEAEAE;
    text-transform: uppercase;
}
.submit-btn a{
    font-family: "PTSans-Regular";
    font-size: 26px;
    color: #FFFFFF;
    border-radius: 30px;
    background-color: #6CD026;
    box-shadow: 0px 0px 20px rgba(0,0,0,7%);
    width:100%;
    text-align: center;
    padding: 7px 0px;
}
.submit-btn a,
.submit-btn .wpcf7-submit{
    font-family: "PTSans-Regular";
    font-size: 26px;
    color: #FFFFFF;
    border-radius: 30px;
    background-color: #6CD026;
    box-shadow: 0px 0px 20px rgba(0,0,0,7%);
    width: 100%;
    text-align: center;
    padding: 7px 0px;
	border:0;
	outline:0;
}
.enroll-form-btn a{
    color:#FFFFFF;
}
.wpcf7-response-output{
	position: absolute;
    top: 480px;
    left: 25px;
}
.wpcf7 form.sent .wpcf7-response-output{
	top: 405px;
}
/* tanveer */
.mt-5.enroll-form-area .input-field{
    float: left;
}
.mt-5.enroll-form-area .form-control {
    height: calc(2.5em + .85rem + 4px);;
    padding: 15px 20px 15px 31px !important;
    border: 1px solid #EAEAEA !important;
    margin:auto;
}
.mt-5.enroll-form-area textarea.form-control {
    height: 110px;
}
.addres-box h5 {
    color: #6cd026;
    font-size: 24px;
    font-family: "PTSans-Bold";
}
.addres-box ul li {
    list-style: none;
}
.addres-box ul li a {
    margin-left: 31px !important;
    color: #797979;
    font-size: 20px;
}
.addres-box ul{
    padding: 0px;
}
.addres-box ul li:nth-child(1) {
    background-image: url("images/phone-icon.png");
    background-repeat: no-repeat;
    background-position-y:5px;
}
.addres-box ul li:nth-child(2) {
    background-image: url("images/mail-icon.png");
    background-repeat: no-repeat;    
    background-position-y:8px;
}
.input-field.submit-btn{
    margin: 23px 0px 40px;
}
.addres-box img,
.addres-box h5,
.addres-box ul li{
    margin-bottom: 17px;
}
.address {
    margin-bottom: 120px;
    margin-top: 30px;
}
.second-address {
    margin-left: 70px;
}
.input-field.submit-btn a:hover {
    color: white;
}
/* Enroll page csss end */

/* Model Section Starts */
.model{
    margin-top:-50px;
}
.model .heading h2{
    font-family:"PTSans-Bold";
    font-size:35px;
    margin-bottom:10px;
}
.model .heading h5{
    font-family:"PTSans-Bold";
    font-size:25px;
    color:#87D94E;
    margin-bottom:60px;
}
.model .text{
    margin-top:30px;
}
.model .text p{
    font-size:17px;
    color:#797979;
    line-height: 1.8;
}
.model .investigator-profile video{
    object-fit: cover;
    border-radius: 10px;
    width: 100%;
}
.model .investigator-profile img{
    position: absolute;
    bottom: 110px;
    left: 30px;
}
.model .investigator-profile h5{
    font-family: 'PTSans-Bold';
    font-size: 26px;
    color:#6CD026;
    margin-top:10px;
}
.model .investigator-profile p{
    font-size:15px;
    color:#4A4A4A;
}
/* Model Section Starts */

/* Analysis Section Starts */
.analysis{
    margin:80px 0 170px;
}
.analysis h5{
    font-family: 'PTSans-Bold';
    font-size:25px;
    color:#191919;
    margin-bottom: 40px;
}
/* =Analysis Section Ends= */

/* Saad Profiles in human starts */
.profile-section{
    margin-bottom: 150px;
}
.profile-text p{
    font-family:"PTSans-Regular";
    font-size: 19px;
    text-align: left;
    color: #797979;
}
.profile-text p:nth-child(2),
.profile-text p:nth-child(3),
.profile-text a{
    margin-top:26px;
}
.profile-text p span a{
    color: #04CAF5;
	margin-top:0;
	display:inline;
}
.profile-card h4{
    font-family:"PTSans-Bold";
    font-size: 26px;
    color: #6CD026;
    margin-top: 8px;
}
.profile-card p{
    font-family:"PTSans-Bold";
    font-size: 20px;
    color:#4A4A4A;
    margin-top: -8px;
    padding:0px 110px ;
}
.profile-btn1{
    font-family: 'PTSans-Regular';
    font-size: 18px;
    color: #FFFFFF;
    border-radius: 25px!important;
    background-color: #6CD026;
    padding:10px 30px;
}
.profile-btn2{
    font-family: 'PTSans-Regular';
    font-size: 18px;
    color:#6CD026;
    padding:10px 30px;
    border: 1px solid #6CD026;
    border-radius: 25px!important;
}
.profile-card video{
    object-fit: cover;
    border-radius: 10px;
    width: 100%;
}
.profile-card > img{
    position: absolute;
    top:210px;
    left:75px;
	display:none;
}
.profile-section .wp-video{
	margin:0 auto;
	border-radius:10px;
}
/* Saad Profiles in human ends */

/* NIA Page styling starts */
.nia{
    background-color:#305F97 ;
    padding:15px 0px 125px;
}
.nia-banner{
    background-image: url(images/inner-banner-blue.png)!important;
    background-repeat:no-repeat!important;
    background-position:center bottom!important;
    margin-bottom:-1px;
}
.nia-text p{
    color: #F8F9FF;
    font-size: 22px;
    font-family:'PTSans-Regular';
}
.nia-text a{
    color:#F8F9FF;
    font-size: 16px;
    font-family:'PTSans-Regular';
    border: 1px solid #6CD026;
    border-radius: 25px;
}
.nia-text a:hover{
    color:#F8F9FF;
}
.nia-text a:nth-child(2){
    background-color: #6CD026;
    padding:12px 40px;
    margin-top:18px;
}
.nia-text a:nth-child(3){
    margin-left: 10px;
    padding:12px 40px;
    margin-top:18px;
}
.nia-text a:nth-child(4){
    padding:12px 50px;
    margin-top:25px;
}
/*NIA page ends */

/* New & Publications css start */
.main-news .date{
    font-family: "PTSans-Regular";
    font-size: 17px;
    color: #6cd026;
}
.main-news .viewss {
    font-family: "PTSans-Regular";
    font-size: 17px;
    color: #6cd026;
}
.main-news .news-text h1{
    font-family: "PTSans-Bold";
    font-size: 36px;
    counter-reset:#191919;
    line-height: 1.2;
}
.main-news .news-text p{
    font-family: "PTSans-Regular";
    font-size: 17px;
    color: #797979;
}
.main-news .news-text p:last-child{
    font-family: "PTSans-Regular";
    font-size: 17px;
    color: #797979;
}
.main-news .news-text p:last-child a{
    color: #04caf5;
}
.main-news-imag .news-img{
    position: relative;
	margin-top:40px;
}
.main-news-imag .news-img img{
	height: auto;
}
.main-news-imag .social-links{
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
}
.main-news-imag .social-links .heateorSssSharingRound{
	background-color: white!important;
	padding: 8px!important;
	border-radius:100px;
	margin-right:10px!important;
}
.main-news-imag .social-links .heateorSssSharing{
	width:35px!important;
	height:35px!important;
}
.main-news-imag .social-links a{
    padding: 11px;
    background-color: white;
    border-radius: 100%;
    margin-right: 4px;
}
.recent-post .recent-news{
    background-color: unset !important;
    padding: 0px;
}
.recent-post h5{
    font-family: "PTSans-Bold";
    font-size: 24px;
    color:#191919 !important;
}
.publications h5{
    font-family: "PTSans-Bold";
    font-size: 35px;
    color: #191919;
}
.publications .block-1 h1{
    font-family: "PTSans-Regular";
    font-size: 25px;
    color: #6cd026;
}
.publications .block-1 p{
    font-family: "PTSans-Regular";
    font-size: 17px;
    color: #797979;
    margin-bottom:3px;
    letter-spacing: 0.5px;
}
.publications .block-1 h6{
    font-family: "PTSans-Bold";/*Edit*/
    font-size: 17px;
    color: #191919;
}
.publications .block-1 .left-text p span{
    font-family: "PTSans-Regular";
    font-size: 17px;
    color: "#04caf5";
}
.publications {
    background-color: #f8f9ff;
    /* padding-bottom: 190px !important;Delete */
    padding: 100px 0 120px;
}
.publications .heading h1{
    font-family: 'PTSans-Bold';
    margin-bottom:30px
}
.block-1 {
    background-color: white;
    padding: 24px 0;/*Edit*/
    box-shadow: 0px 0px 40px #d6d7da;/*Edit*/
    border-radius: 10px;
}
.left-text p{
    margin:15px 0 0;
}
.left-text p span {
    color: #04caf5;
}
.right-butn a {
    background-color: #6ae9ce;
    padding: 10px 45px;
    border-radius: 50px;
    color: white;
    font-size:19px;
}
.block-2 {
    background-color: white;
    padding: 24px 0;/*Edit*/
    box-shadow: 0px 0px 20px #EBECF1;/*Edit*/
    border-radius: 10px;
}
.main-news .news-text p {
    margin-top: 22px;
    margin-bottom: 0px;
}
.recent-news {
    margin-top:5px;
}
.recent-news .view-btn{
	margin-top:20px;
}
.recent-post {
    margin: 0px 0px 90px;
}
.publications .box-2 {
    margin-top: 31px;
}
.right-butn a:hover{
    color:#fff;
}
.right-butn.text-center a img {
    padding-left: 7px;
}
.box-2 .book-img img{
    box-shadow: 0px 0px 20px #c5c5c5;
    width: 55%;
}
.box-2 h3{
    font-family: "PTSans-Regular";
    font-size: 25px;
    color: #6cd026;
}
.box-2 h5{
    font-family: "PTSans-Regular";
    font-size: 15px;
    color: #04caf5;
}
.box-2 p{
    font-family: "PTSans-Regular";
    font-size: 17px;
    color: #797979;
    margin:20px 0 0;
}
.new-left-box{
    padding-right: 46px;
    margin-right: -16px;
}
.date p {
    margin-bottom: 0px;
}
.main-news {
    margin-bottom: 64px;
}
/*tanveer*/
.inner-banner-2 .banner-text.news-bnr h1{
    color:#212529;
    padding-left: 106px;
}
/* New & publications css end */

/* =About Us Page Starts= */
.tabs{
    margin:30px 0 110px;
}
.tabs nav{
    box-shadow:0px 0px 20px #d3d3d3;
    border-radius: 10px;
}
.tabs nav a{
    padding:35px 0;
    text-transform: uppercase;
    font-size:25px;
    color:black;
    background-color:white;
}
.tabs nav a span{
    border-right: 1px solid black;
    display: block;   
}
.tabs nav a.active{
    font-family: 'PTSans-Bold';
    color:#6cd026;
    background-color:#F7F7F7;
    background-image:url(images/about-us-tab-border.png);
    background-position: bottom;
    background-repeat: no-repeat;
}
.tabs nav a:last-child span{
    border-right: 0;
}
.tabs .tab-pane{
    margin-top:40px;
}
.tabs .nav-research h2{
    font-size: 34px;
    background: url(images/logo-icon.png) no-repeat left;
    background-position-x: 415px;
}
.tabs .nav-research .staff-member{
    margin-top:30px;
}
.tabs .nav-research .staff-member .img-border{
    background: url(./images/Blue\ -moon.png) no-repeat;
    background-position-x: 93%;
    background-size: contain;
}
.tabs .nav-research .staff-member img{
    border-radius:100%;
    height:auto;
}
.tabs .nav-research .staff-member h5{
    font-family: 'PTSans-Bold';
    font-size:19px;
    text-transform: uppercase;
    color:#69A340;
    margin-top:15px;
}
.tabs .nav-research .staff-member p{
    font-size:16px;
    color:#797979;
}
.tabs .nav-investigator h2{
    margin-bottom:80px;
    font-size: 34px;
    background: url(images/logo-icon.png) no-repeat left;
    background-position-x: 425px;
}
.tabs .nav-investigator .investigator{
    margin:70px 1.125% 100px;
    box-shadow:0px 0px 40px #dcdce0;
    max-width: 31%;
    border-radius:10px;
    padding:0 20px 30px;
}
.tabs .nav-investigator .investigator .img-border{
    background: url(./images/green-moon.png) no-repeat;
    margin-top:-110px;    
    background-position-x: 78%;
    background-size: contain;
}
.tabs .nav-investigator .investigator img{
    width:95%;
    border-radius:100%;
	height:auto;
}
.tabs .nav-investigator .investigator h6{
    font-family:'PTSans-Bold';
    font-size:19px;
    color:#04caf5;
    margin:25px 0 0;
    text-transform: uppercase;
}
.tabs .nav-investigator .investigator p:nth-of-type(1){
    margin-top:20px;
    font-size:16px;
    color:#797979;
}
.tabs .nav-investigator .investigator p:nth-of-type(2),
.tabs .nav-investigator .investigator:first-child p:nth-of-type(3),
.tabs .nav-investigator .investigator:nth-child(2) p:nth-of-type(3),
.tabs .nav-investigator .investigator:nth-child(3) p:nth-of-type(3){
    font-size:16px;
    color:#62993c;
}
.tabs .nav-investigator .investigator:first-child p:nth-of-type(1),
.tabs .nav-investigator .investigator:nth-child(2) p:nth-of-type(1),
.tabs .nav-investigator .investigator:nth-child(3) p:nth-of-type(1){
    margin-top:0px;
    font-size:15px;
    color:black;
}
.tabs .nav-investigator .investigator:first-child p:nth-of-type(2),
.tabs .nav-investigator .investigator:nth-child(2) p:nth-of-type(2),
.tabs .nav-investigator .investigator:nth-child(3) p:nth-of-type(2){
    margin-top:20px;
    font-size:16px;
    color:#797979;
}

.tabs .nav-participate h2{
    margin-bottom:40px;
    font-size: 34px;
    background: url(images/logo-icon.png) no-repeat left;
    background-position-x: 35%;
}
.tabs .nav-participate .slider-icon{
    max-width:10%;
    flex: 0 0 10%;
    align-self: center;
}
.tabs .nav-participate .carousel{
    box-shadow: 0px 0px 30px #e0e0e0;
    padding:50px;
    margin-top:50px;
    border-radius: 20px;
}
.tabs .nav-participate .carousel .slider-logo{
    align-self: center;
}
.tabs .nav-participate .carousel .description h4{
    font-family: 'PTSans-Bold';
    font-size:25px;
    color:#6cd026;
    margin-bottom:5px;
    letter-spacing: 1px;
} 
.tabs .nav-participate .carousel .description p{
    font-size:15px;
    color:#505050;
    line-height: 1.7;
    margin-bottom:20px;
}
.tabs .nav-participate .carousel .carousel-item img{
	width:100%;
	height:auto;
}
.tabs .nav-participate .carousel .carousel-control-prev,
.tabs .nav-participate .carousel .carousel-control-next{
    opacity: 1.0;
    pointer-events: none;
}
.tabs .nav-participate .carousel .carousel-control-prev:hover,
.tabs .nav-participate .carousel .carousel-control-next:hover{
    opacity: 0.5;
}
.tabs .nav-participate .carousel .carousel-control-prev-icon,
.tabs .nav-participate .carousel .carousel-control-next-icon{
    height:50px;
    width:50px;
    box-shadow: 0px 0px 5px lightgray;
    border-radius: 100%;
    opacity: 1.0;
    pointer-events: auto;
}
.tabs .nav-participate .carousel .carousel-control-prev-icon{
    background: url(images/about-us-prev.png) no-repeat;
}
.tabs .nav-participate .carousel .carousel-control-prev{
    left:-75px;
}
.tabs .nav-participate .carousel .carousel-control-next{
    right:-75px;
}
.tabs .nav-participate .carousel .carousel-control-next-icon{
    background: url(images/about-us-next.png) no-repeat;
}

/* =About Us Page Starts= */


.inner-banner-5{
    background: url(images/inner-banner.png) no-repeat center bottom;
    background-color: rgba(0, 0, 0, 0);
    background-size: auto;
    background-size: 100%;
    background-color: #F8F9FF;
    padding-top:60px;
    margin-top: -75px;
    z-index: -1;
    position: relative;
}
.inner-banner-5 .baner-dog-img img{
    width: 60%;
}
.nonhuman-specie h2{
    font-family:"PTSans-Bold";
    font-size: 35px;
    color:#191919;
}
.nonhuman-specie p{
    font-family:"PTSans-Regular";
    font-size:17px;
    color:#797979;
    line-height: 1.8;
}
.baner-dog-img {
    bottom: 37px;
}
.profile-non-human{
    background: url('images/non-human-bg.png');
    background-size: auto;
    background-size: cover;
    padding: 200px 0 75px;
    z-index: -1;
    position: relative;
}
.profile-non-human
{
	margin-top:-70px!important;
}
.animal-img {
    margin-top: -30px;
    margin-left: -30px;
}
.text-center.mb-5 {
    margin-bottom: 4rem !important;
}
.text-1{
    padding-right: 28px !important;
}
.text-2{
    margin-top: 40px !important;
    margin-left: -30px;
}
.nonhuman-birds img{
    max-width: 140% !important;
    margin-top: -38px;
}
.nonhuman-skunk img{
    margin-top: -75px;
    margin-left: -30px;
}
.nonhuman-pygmy img{
    margin-top: -40px;
    margin-left: -20px;
    width: 75%;
}
.text-3 {
    margin-top: -20px;
    padding-right: 49px !important;
}
.text-4{
    margin-top: -5px;
    margin-left: -50px;
}
.inner-banner-5 h1 {
    font-size: 45px;
    margin-top:50px;
    font-family: "PTSans-Bold";
}
/* Non-human-page css end */
/* tanveer about us css start */
.carousel-indicators-custm li {
    list-style: none;
    color:black;
    height: 25px !important;
    text-indent: inherit !important;
    margin-right:25px;
    cursor:pointer;
}
.carousel-indicators-custm li img:hover{
    border-bottom:5px solid limegreen;
}
 .carousel-indicators-custm{
    bottom: unset !important;
}
.carousel-indicators-custm {
    position: relative  !important;
    right: unset  !important;
    bottom: unset  !important;
    left: unset  !important;
    z-index: 15;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: left  !important;
    padding-left: 0  !important;
    margin-right: 0px  !important;
    margin-left: 0px  !important;
    list-style: none  !important;
}
/* .carousel-indicators-custm{
    list-style: none;
    display: flex;
} */
.col-lg-1.slider-icon a img {
    max-width: unset !important;
} 
.wp-playlist-tracks {
    margin-top: 10px;
    display: none !important;
}
.wp-playlist {
    border: none !important;
}
/* tanveer about us css end */

/*.investigator .mejs-container{*/
/*    width: 560px !important;*/
/*    height: auto !important;*/
/*    min-width: 215px;*/
/*}*/
/*video slider css start*/
.play-btn {
    display: none;
}
.home.blog .investigators .wp-video {
	max-width: 64% !important;
    height: 295px !important;
    width: 400px !important; 
}
.investigators .carousel-item.active .investigator:nth-child(2) .wp-video .mejs-controls{
	width:150%;
	margin:0px 0px -50px -64px;
}
.home .mejs-container{
    width: 256px !important;
    height: 144px !important;
    min-width: 215px !important;
}
.home .mejs-container {
    clear: both;
    max-width: 100%;
    width: 256px !important;
    height: 144px !important;
    min-width: 215px !important;
}
 .home .wp-video-shortcode {
    width: 256px !important;
    height: 144px !important;
} 
/* .wp-video .mejs-containe {
    height: auto !important;
} */



/*.mejs-controls {*/
/*    display: none !important;*/
/*}*/
/*.mejs-overlay.mejs-layer.mejs-overlay-play {*/
/*    display: none !important;*/
/*}*/



/*.home.blog .investigators .wp-video-shortcode {*/
/*    height: 187px !important;*/
/*}*/
/*video slider css end*/
.news-img.detail-page img {
    width: 100%;
    height: auto;
}
.news-text.detail-text h1 {
    font-family: "PTSans-Bold";
    font-size: 34px;
    counter-reset: #191919;
    line-height: 1.2;
}
.news-text.detail-text p{
    font-family: "PTSans-Regular";
    font-size: 17px;
    color: #797979;
}

.detail-page-news{
    margin: 50px 0px 150px;
}
.row.justify-content-between.main-news {
    margin-bottom: 0px !important;
}

.inner-banner-2 .banner-image img {
    height: auto;
}
.detail-extra-text{
    font-family: "PTSans-Regular";
    font-size: 17px;
    color: #797979;
    padding: 0px 30px;
}


/*search bar css start*/
.search-and-btn li.active input:nth-child(2){
	border:none;
	background-color:#6CD026;
	color:white;
	outline:0;
}
.search-and-btn li.active img{
	margin-top:10px;
}
  .search-box{
    background: #E8E8E4;
    position: absolute;
    top: 65px;
    right: 22%;
    line-height: 60px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-top:4px solid #6cd026;
    display: none;
	 z-index:1;
  }
 
  .search-box:before{
    content: "";
    position: absolute;
    top: -32px;
    right: 13px;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 14px solid transparent;
    border-bottom: 14px solid #6cd026;
  }
  
  .search-box input[type="text"]{
    width: 230px;
    padding: 5px 10px;
    margin-left: 23px;
    border: 1px solid #6cd026;
    outline: none;
    line-height: normal;
    top: -2px;
    position: relative;
  }
  
  .search-box input[type="button"]{
    width: 80px;
    padding: 5px 0;
    background: #6cd026;
    color: #fff;
    margin-left: -6px;
    border: 1px solid #6cd026;
    outline: none;
    cursor: pointer;
    line-height: normal;
    top: -2px;
    position: relative;
  }
  
 /* Media Queries */
/*search bar end */
.not-find {
    margin: 25px 0px 150px;
}
.inner.search-inner {
    margin-bottom: 100px;
}
.heateorSssFacebookBackground {
    background-color: #6cd026 !important;
}
.heateorSssTwitterBackground{
     background-color: #6cd026 !important;
}
.heateorSssLinkedinBackground{
     background-color: #6cd026 !important;
}
.heateorSssMoreBackground{
    background-color: #6cd026 !important;
}
/*youtube video csss start*/

/*youtube video css end*/
.video.slider {
    margin-bottom: 95px;
}
.single .container .inner-page {
    padding-bottom: 120px;
}
.staff-img{
    background: url(./images/Blue\ -moon.png) no-repeat;
    background-position-x: 0%;
    background-size: auto;
background-position-x: 0%;
background-size: auto;
background-position-x: 27%;
background-size: contain;
}
.staff-img img{
    border-radius:100%;
}
/*================= Media Queries================= */

@media(min-width:1280px){
    .container{
        max-width: 1190px;
    }
}
@media(min-width:1440px){
    header {
        background-position: center left 30%;
    }
    .non-human .heading h2 {
        background-position: 10%;
    }
    .inner-banner-1{
        padding:150px 0 115px;
    }
    .inner-banner-2 .banner-text h1 {
        bottom: 160px;
    }
    .main-news .news-text h1 {5
        font-family: "PTSans-Bold";
        font-size: 32px;
        counter-reset: #191919;
        line-height: 1.2;
    }
    .viewss.text-right {
        right: 37px;
    }
     /* tanv */
    .main-news .news-text h1 {
        font-size: 33.5px;
    }
    .baner-dog-img {
        bottom: 45px;
    }
}
@media(min-width:1560px){
    header {
        background-position: center left 29%;
    }
    .main-banner .banner-text h1 {
        bottom: 360px;
    }
    .non-human .heading h2 {
        background-position: 13%;
    }
    .participants .heading h2 {
        background-position: 18%;
    }
    .inner-banner-1 {
        padding: 160px 0 140px;
    }
    /* tanv */
    .inner-banner-2 .banner-text.news-bnr h1 {
        bottom: 186px;
    }
    .inner-banner-5 {
        padding-top: 80px;
    }
    .baner-dog-img {
        bottom: 55px;
    }
}
@media(min-width: 1680px){
    .main-banner .banner-border img {
        bottom: 133px;
    }
    .main-banner .banner-text h1 {
        bottom: 300px;
    }
    header {
        background-position : center left 27%;
    }
    footer {
        margin-top: -150px;
        padding-top: 140px;
    }
    .non-human {
        padding: 250px 0 70px;
    }
    .non-human .heading h2 {
        background-position: 16%;
    }
    .investigators {
        padding: 70px 0 220px;
    }
    .inner-banner-1{
        padding-bottom:200px;
    }
    .collaboraion{
        margin-top:-40px;
    }
    .enroll-study {
        margin-top: -100px;
    }
    .inner-banner-1 {
        padding: 160px 0 150px;
    }
      /* tna */
    .inner-banner-2 .banner-text.news-bnr h1 {
        bottom: 202px;
    }
    .inner-banner-5 {
        padding: 50px 0 35px;
    }
    .baner-dog-img {
        bottom: 34px;
    }
}
@media(min-width: 1920px){
    .main-banner .banner-text h1 {
        bottom:310px;
    }
    .main-banner .banner-border img {
        bottom: 152px;
    }
    header {
        background-position : center left 22.5%;
    }
    .non-human .heading h2 {
        background-position: 20%;
    }
    .participants .heading h2 {
        background-position: 25%;
    }
    .inner-banner-1 {
        padding: 170px 0 180px;
    }
    .collaboraion {
        margin-top: -80px;
    }
    .inner-banner-2 .banner-text h1 {
        bottom: 225px;
    }
    /* tanveer */
    .inner-banner-2 .banner-text.news-bnr h1 {
        bottom: 243px;
    }
    .main-news .news-text h1 {
        font-size: 33.5px;
    }
    .inner-banner-5 {
        padding: 60px 0 45px;
    }
    .baner-dog-img {
        bottom: 45px;
    }
}
@media(max-width:1365px){
    header {
        padding-bottom: 45px;
    }
    .logo a img {
        left: 10px;
    }
    .main-banner .banner-image img {
        margin-top: -70px;
    }
    .carousel-control-next {
        right: -10px;
    }
    .carousel-control-prev {
        left: -17px;
    }
    .inner-banner-1 {
        margin-top: -67px;
    }
    .inner-banner-2 .banner-image img {
        margin-top: -70px;
    }
    .inner-banner-2 .banner-text h1 {
        bottom: 140px;
    }
    .profile-card > img{
        top:190px;
    }
    .profile-card p{
         font-size: 20px;
         padding:0px 40px;
    }
     /* tnave */
    .inner-banner-2 .banner-text.news-bnr h1 {
        bottom: 132px;
    }
    .new-left-box {
        margin-right: 0px;
    }
    .inner-banner-2 .banner-text.news-bnr h1 {
        padding-left: 130px;
    }
    .main-news .news-text h1 {
        line-height: 1;
    }
    .baner-dog-img {
        bottom: 28px;
    }
}
@media(max-width:1279px){
    .container{
        max-width: 99%;
    }
    header {
        background-position: center left 30%;
        padding-bottom: 35px;
    }
    .logo a img {
        left: 25px;
        max-width: 110%;
    }
    header .navbar {
        margin-top: 0px;
        position: absolute;
        left: 80%;
    }
    .navbar-collapse{
        position:absolute;
        right:15px;
        background-color:#6CD026;
        width:255px;
        z-index:1000;
    }
    .navbar-collapse .nav-item{
        padding:8px 0;
        border-bottom:1px solid white;
    }
    .navbar-collapse .nav-item:last-child{
        border-bottom:0;
    }
    header .header-nav .nav-link{
        color:white!important;
    }
    header .dropdown-menu.show {
        width:255px!important;
        padding:0;
    }
    header .dropdown .dropdown-menu .dropdown-item{
        color:#6CD026!important;
        border-bottom: 1px solid #6CD026!important;
        padding:8px 10px!important;
    }
    header .dropdown .dropdown-menu .dropdown-item:last-child{
        border-bottom: 0px!important;
        padding:6px 10px!important;
    }
    .header-nav .search-and-btn li:nth-child(1) button {
        margin-left:0px;
    }
    .header-nav .search-and-btn li:nth-child(2) a {
        margin: -8px 0 0 15px;
    }
    .main-banner .banner-image img {
        margin-top: -65px;
    }
    .main-banner .banner-text h1 {
        bottom: 270px;
        width: 92%;
    }
    .participants .next {
        padding-left: 5px;
        background-position: top left 10px;
    }
    .participants .prev {
        padding-right: 15px;
        background-position: top right 20px;
    }
    .participants .item.show {
        width: 24%;
    }
    .investigators .carousel-item .investigator .video img.play-btn {
        top: 145px;
    }
    .investigators .carousel .carousel-control-prev-icon{
        left:-35px;
    }
    .investigators .carousel .carousel-control-next-icon{
        right:-48px;
    }
    .recent-news .heading h1 {
        background-position-x: 80px;
    }
    .recent-news .recent-card img.rnews-border {
        bottom: 46%;
        width: 90%;
    }
    .carousel-control-next {
        right: 27px;
    }
    .carousel-control-prev {
        left: 11px;
    }
    .about-us .card {
        padding: 0px 10px;
    }
     /*Collaboration styling Start*/
     .inner-banner-1 {
        padding: 152px 0 81px;
    }
    .collaboraion{
        margin-top:0px;
    } 
     .consortium-text{
        padding-top: 60px;
        padding-left: 0px;
    }
    .consortium-img{
        padding-left: 15px;
    }
    .enroll-text h1 {
        font-size: 39px;
    }
    .enroll-text h1 span {
        font-size: 74.62px;
    }
    /*Collaboration styling End*/
    .inner-banner-2 .banner-image img {
        margin-top: -65px;
    }
    .inner-banner-2 .banner-text h1 {
        bottom: 120px;
    }
    .model .investigator-profile img {
        bottom: 130px;
    }
     .profile-card > img{
        top:150px;
    }
    .nia-text a:nth-child(2){
        margin-top:8px;
    }
    .nia-text a:nth-child(3){
        margin-top:8px;
    }
    .nia-text a:nth-child(4){
        margin-top:12px;
    	padding: 12px 55px;
    }
    .nia-text a{
        font-size: 14px;
    }
    .nia-text p{
        font-size: 20px;
    }
    .publications .block-1 p {
        letter-spacing: 0.2px;
    }
    /* tanveer5 */
    .inner-banner-2 .banner-text.news-bnr h1 {
        bottom: 110px;
        padding-left: 144px;
    }
    .main-news .news-text h1 {
        font-size: 34px;
    }
    .main-news {
        margin-top: 26px;
    }
     .tabs .nav-research h2 {
        background-position-x: 385px;
    }
    .tabs .nav-investigator h2 {
        background-position-x: 400px;
    }
    .tabs .nav-research .staff-member .img-border {
        background-position-x: 98%;
    }
    .profile-non-human
    {
        margin-top:-40px!important;
    }
    .carousel-indicators-custm li {
        margin-right: 20px;
    }
    .inner-banner-5 {
        padding-top: 35px;
        margin-top: -70px;
    }
    .baner-dog-img {
        bottom: 20px;
    }
	.investigators .carousel-item.active .investigator{
		margin-left:0px;
	}
	.search-and-btn li.active img {
		margin-top: 5px;
	}
	.search-box{
		width:325px;
		right:70%;
		top: 55px; 
	}
	.header-nav .search-and-btn {
		display: flex;
		list-style: none;
		padding-left: 0;
		margin-left: 5px;
	}
}
@media(max-width:1151px) and (min-width:768px){
    .about-box{
        max-width:32%;
    }
}
@media(max-width:1151px){
    header {
        background-size: cover;
        padding-bottom:42px;
    }
    .logo a img {
        left: 35px;
    }
    header .navbar {
        margin-top: -4px;
    }
    .header-nav .search-and-btn li:nth-child(1) button {
        margin:0px 0 0 -20px;
    }
    .header-nav .search-and-btn li:nth-child(2) a {
        margin-top:-12px;
    }
    .main-banner .banner-image img {
        margin-top: -65px;
    }
    .main-banner .banner-text h1 {
        bottom: 270px;
        left: -40px;
        width: 100%;
    }
    .investigators .carousel-item .investigator .video img.play-btn {
        top: 120px;
        left: 100px;
    }

    .about-us .heading h2 {
        background-position-x: 125px;
    }
    .about-us .carousel-control-next-icon {
        right: -5px;
    }
    .study-purpose .our-study-image img {
        margin: 0px 30px 13px 0;
    }
    .study-purpose h3 {
        padding-left: 590px;
        background-position: 543px 5px;
    }
    .card-body h4 {
        font-size: 16px;
    }
    .carousel-control-next {
        right: 0px;
    }
     .card-body p:nth-child(2) {
       margin-bottom: 2px;
    }
    .card-body p:nth-child(3) {
        font-size: 14px;
        margin-bottom:14px;
    }
    .card-body p:nth-child(4) {
        font-size: 14px;
    }
    .recent-news .heading h1 {
        background-position-x: 60px;
    }
    .recent-news .recent-card h3 {
        font-size: 19px;
    }
    .recent-news .recent-card img.rnews-border {
        bottom: 48%;
    }
    .card-body {
        padding: 1.25rem 0px;
    }
    .carousel-control-next {
        right: 0px;
    }
    .about-us .carousel-control-next-icon {
        right: 5px;
    }
    .carousel-control-prev {
        left: 1px;
    }
    .non-human .heading h2 {
        font-size: 34px;
        background: url(images/logo-icon.png) no-repeat;
        background-position: 0%;
    }
    .enroll-text h1 {
        font-size: 32px;
        line-height: 36px;
        margin-bottom: 16px;
    }
    .enroll-text h1 span {
        font-size: 60.62px;
    }
    .second-address {
        margin-left: 31px;
    }
    .inner-banner-1 {
        padding: 153px 0 68px;
    }
    
    .inner-banner-2 .banner-text h1 {
        bottom: 100px;
    }
    .profile-text {
        padding-left: 15px;
    }
    .nia-text a:nth-child(2){
        padding:8px 30px;
    }
    .nia-text a:nth-child(3){
        margin-left: 5px;
        padding:8px 30px;
    }
    .nia-text a:nth-child(4){
        padding:8px 38px;
    }
    .nia-text a{
        font-size: 12px;
    }
    .nia-text p{
        font-size: 18px;
    }
     .publications .block-1 p {
      letter-spacing: 0px;
    } 
    .new-left-box {
        padding-right: 15px;
        margin-right: 0px;
    }
    .viewss.text-right {
        right: 0px;
    }
    .main-news .news-text p {
        margin-top:11px;
        margin-bottom: 8px;
    }
    .main-news .news-text h1 {
        line-height: 1;
    }
     /* tnaver */
    .inner-banner-2 .banner-text.news-bnr h1 {
        bottom: 94px;
        padding-left: 139px;
    }
    .main-news .news-text h1 {
        font-size: 32px;
    }
    .tabs .nav-research h2 {
        background-position-x: 320px;
    }
    .tabs .nav-investigator h2 {
        background-position-x: 330px;
    }
    .tabs .nav-research .staff-member img {
        width: 90%;
    }
    .tabs .nav-participate h2 {
        background-position-x: 32%;
    }
     /*non human*/
    .animal-img {
        margin-top: -5px;
        
    }
    .nonhuman-skunk img{
        margin-top: -45px;
    }
   /*non human ends*/
	.tabs .nav-investigator .investigator img {
		width: 80%;
	}
	.investigators .carousel-item.active .investigator:nth-child(2) .wp-video {
    	max-width: 55% !important;
	}
	.investigators .carousel-item.active .investigator:nth-child(2) .wp-video .mejs-controls {
		margin-left: -55px;
	}
	.investigators .carousel-item.active .investigator:nth-child(2) .text {
		margin-left: -26%!important;
	}
	.investigators .carousel-control-prev-icon, 
	.investigators .carousel-control-next-icon {
		width: 70px!important;
		top:115px;
	}
	.investigators .carousel .carousel-control-next-icon {
		right: -15px;
	}
	.search-box {
		right: 65%;
	}
	.main-news-imag .social-links .heateorSssSharingRound {
		padding: 6px!important;
	}
}
@media(max-width:1023px){
    .recent-news .recent-card img.rnews-border {
        bottom: 49%;
    }
    .main-news .news-text h1 {
        font-size: 31px;
    }
    .main-news .news-text p:last-child {
        font-size: 15px;
    }
    .inner-banner-2 .banner-text.news-bnr h1 {
        bottom: 90px;
        padding-left: 139px;
    }
    .inner-banner-5 {
        margin-top: -65px;
    }
    .baner-dog-img {
        bottom: 17px;
    }
    .navbar-collapse {
        top: 56px;
    }
	header .header-nav {
		padding-left: 15px;
	}
	.search-box {
		right: 70%;
	}
	.investigators .carousel-item.active .investigator:nth-child(2) .video iframe {
		transform: scale(1.3);
	}
}
@media(max-width:991px) and (min-width:768px) {
    .about-us .card img{
        width:80%;
    }
    .tabs .staff-member{
        max-width: 29%;
    }
    .tabs .nav-research .row{
        justify-content: space-between;
    }
}
@media(max-width:991px){
    header {
        background-position: center left 25%;
    }
    header .header-nav {
        margin-top: 5px;
    }
    header .navbar {
        margin-top: -2px;
        left: 87%;
    }
    .header-nav .search-and-btn li:nth-child(1) button {
        margin-left:200px;
    }
    .main-banner .banner-image img {
        margin-top: -70px;
    }
    .main-banner .banner-text h1 {
        font-size: 43px;
		bottom: 110px;
		left: -8px;
    }
    .about-us .heading h2 {
        background-position-x: 50px;
    }
    .about-us .carousel-control-prev-icon, .about-us .carousel-control-next-icon {
        top: 110px;
    }
    .non-human {
        background-size:cover;
        background-repeat: no-repeat;
        padding: 100px 0 50px;
    }
    .study-purpose{
        margin-top: 0px;
    }
    .study-purpose .our-study-image{
        text-align: center;
    }
    .study-purpose .our-study-image img{
        float: none;
        margin:0px 0px 25px 0;
    }
    .study-purpose h3{
        padding-left:50px;
        background-position: 0px 5px;
    }
    .participants {
        padding: 50px 0 60px;
    }
    .participants .heading h2 {
        background-position: 5%;
    }
    .participants .item.show {
        width: 23%;
    }
    .recent-news .recent-card img.rnews-border {
        bottom: 60%;
    }
    .participants .prev, .participants .next {
        background-size: 260%;
    }
    .participants .button img {
        margin-top: 5px;
    }
    .participants .item.show .filter img {
        bottom: -5px;
    }
    .investigators .carousel-item .investigator .video img.play-btn {
        top: 75px;
        left: 75px;
    }
    .investigators .carousel-item.active .investigator:nth-child(2) .video img.play-btn {
        left: -30px;
    }
    .investigators .carousel-item .text h3 {
        margin-top: 40px;
    }
    .footer-nav ul {
        text-align: center;
        margin: auto;
        margin-left:-40px;
    }
    .footer-nav ul li {
        display: inline-block;
        float: none;
        margin: 10px 20px;
    }
    .our-study-image {
        margin-bottom: 28px;
    }
    .recent-news .heading h1 {
        background-position-x: 40px;
    }
    .recent-news .recent-card h3 {
        font-size: 16px;
    }
     /* Family study start*/
    .collaboraion {
        margin-bottom: 100px;
    }
    .collaboration-box h1{
        font-size: 30px;
    }
    .collaboration-box p{
        font-size: 16px;
        line-height: 1.2;
    }
    .collaboration-box a{
        font-size: 14px;
    }
    /* Family study ends*/
     /* Collaboration starts*/
    .inner-banner-1 {
       padding: 174px 0 61px;
       margin-top: -69px;
    }
    .family-study-img{
        text-align:center;
        padding:20px 15px 0;
    }
    .family-study{
        padding-left:0px;
    }
    .consortium-text{
        padding-left:20px;
    }
    .consortium-img{
        padding-top:20px;
        text-align:center;
    }
    .genomics-img{
        text-align:center;
        margin-top: 20px;
    }
    .collaboration-box p{
        line-height: 1.4;
    }
    .genomics {
        margin-top: 70px;
    }
    .enroll-text h1 {
        font-size: 26px;
        line-height: 39px;
    }
    .enroll-text h1 span {
        font-size: 46.62px;
    }
    .second-address {
        margin-left: 0px;
    }
    .addres-box ul li a {
        margin-left: 32px !important;
        font-size: 17px;
    }
    .addres-box  img{
        width: 85%;
    }
    .address {
        margin-bottom: 51px;
        margin-top: 0px;
    }
    
    /* Collaboration ends ends*/
    .inner-banner-1 .banner-text h1 {
        font-size: 42px;
    }
    .enroll-study {
        margin-top: -14px;
    }
    .inner-banner-2 {
        padding-bottom: 45px;
    }
    .inner-banner-2 .banner-image img {
        margin:-70px 0 -20px;
    }
    .inner-banner-2 .banner-text h1 {
        bottom: 48px;
        font-size:35px;
    }
    .model {
        margin-top: -10px;
    }
    .model .heading h2 {
        font-size: 30px;
    }
    .model .heading h5{
        font-size:22px;
        margin-bottom: 30px;
    }
    .model .text {
        margin-top: 0px;
    }
    .model .investigator-profile img {
        bottom: 120px;
    }
    .analysis {
        margin: 40px 0 75px;
    }
    .profile-card{
        margin-top: 55px;
    }   
    .profile-text p,
    .profile-text a{
        font-size:20px;
        margin-top:20px;
    }
    .profile-card > img{
        top:290px;  
    }
    .profile-card .justify-content-around{
        margin-top:30px!important;
    }
    .nia-text p{
        margin-top: 50px;
        font-size: 22px;
        padding: 0px;   
        text-align: left!important;    
    }
    .nia-text a{
        font-size: 18px;
    }
    .nia-text a:nth-child(2){
        margin-top:6px;
    }
    .nia-text a:nth-child(3){
        margin-top:6px;
    }
    .nia-text a:nth-child(4){
        margin-top:10px;
		padding: 8px 25px;
    }
    .right-butn a {
        padding: 10px 25px;
    }
    .inner-banner-2 .banner-text.news-bnr h1 {
        bottom: 36px;
        padding-left: 138px;
    }
    .main-news-imag .news-img {
        margin-top: 29px;
        text-align: center;
    }
    .new-left-box {
        margin-top: 56px;
        padding-right: 71px;
    }
     .main-news-imag .news-img {
        margin-top: 0px;
    }
    .main-news {
        margin-bottom: 30px;
    }
    .recent-post {
        margin: 0px 0px 45px;
    }
     .tabs .nav-research h2 {
        background-position-x: 205px;
    }
    .tabs .nav-investigator h2 {
        background-position-x: 215px;
    }
    .tabs .nav-investigator .investigator {
        max-width: 48%;
        margin: 70px 1% 100px;
    }
    .tabs .nav-participate h2 {
        background-position-x: 26%;
    }
    .tabs .nav-participate .carousel .slider-logo {
        margin-bottom:15px;
    }
    .tabs .nav-participate .carousel .carousel-control-prev {
        left: -30px;
    }
    .tabs .nav-participate .carousel .carousel-control-next {
        right: -30px;
    }
    .profile-non-human
    {
        margin-top:0px!important;
    }
    .nonhuman-specie p{
        font-size: 18px;
    }
    .animal-img {
        margin-top:0px;
    }
    .text-1{
        padding-right: 0px !important;
    }
    .text-2{
        margin: 0px !important;
    
    }
    .nonhuman-birds img,
    .nonhuman-specie img{
        max-width: 60% !important;
        margin-top: 0px;
    }
    .nonhuman-skunk img{
        margin:0px;
    }
    .nonhuman-pygmy img{
        margin-top:0px;
    }
    .text-3 {
        margin-top: 0px;
        padding-right: 0px !important;
    }
    .text-4{
        margin:0px!important;
    }
    .carousel-indicators-custm li {
        margin-right: 15px;
    }
    .inner-banner-5 {
        margin-top: -70px;
    }
    .inner-banner-5 h1 {
        font-size: 30px;
    }
    .baner-dog-img {
        bottom: 15px;
    }
    .navbar-collapse {
        top: 56px;
    }
    .tabs .nav-participate .carousel {
        padding: 30px 50px 50px;
    }
    .tabs .nav-participate .carousel .description h4 {
        font-size: 21px;
    }
	.wpcf7-response-output {
		top: 485px;
	}
	.wpcf7 form.sent .wpcf7-response-output {
		top: 390px;
	}
	.main-banner .banner-image img {
    	height: auto !important;
	}
	.tabs .nav-investigator .investigator img {
		width: 95%;
	}
	.investigators .carousel-item.active .investigator:nth-child(2),
	.investigators .carousel-item.active .investigator:nth-child(3){
		display:none;
	}
	.investigators .carousel-item.active .investigator:first-child{
		text-align:center;
		margin-top:0px;
		display:block!important;
		margin-left:0px;
	}
	.investigators .carousel-item.active .investigator:first-child .video iframe{
		width:70%;
		height:300px;
	}
	.investigators .carousel-item.active .investigator:first-child .text{
		display:block;
	}
	.investigators .carousel-item .text h3 {
		margin-top: 0;
	}
	.investigators .carousel-control-prev-icon, .investigators .carousel-control-next-icon {
		width: 90px!important;
    	top: 90px;
	}
	.investigators .carousel .carousel-control-prev-icon {
		left: 10px;
	}
	.investigators .carousel .carousel-control-next-icon {
		right: 10px;
	}
	.home.blog .investigators .wp-video-shortcode {
		height: 230px !important;
	}
	.non-human .heading h2 {
        margin-top: 22px;
    }
	.search-and-btn li.active img {
		margin-left: 225px;
	}
	.search-box {
		right: 43%;
	}
}
@media(max-width:767px){
    header {
        background-position: center left 36%;
        padding-bottom:120px;
    }
    .logo a img {
        left: 20px;
        max-width: 100%;
        left:0px;
        top: 0px;
    }
    header .header-nav {
        margin-top:20px;
    }
    .main-banner .banner-image img {
        margin-top: -105px;
    }
    .header-nav .search-and-btn li:nth-child(1) button {
        margin-left: 20px;
    }
    header .navbar {
        margin-top: -2px;
        left: 82%;
    }
    .main-banner .banner-text h1 {
        font-size: 30px;
		bottom: 100px;
		left: 0px;
    }
    section.about-us {
        padding-bottom: 190px;
    }
    .about-box{
        margin-left: 0px;
    }
    .about-us .heading h2 {
        background-position-x: 146px;
    }
    .about-us .carousel-control-next-icon {
        right: 0;
    }
    .non-human {
        padding: 75px 0 25px;
    }
    .non-human .heading h2 {
        font-size: 30px;
        margin-bottom: 10px;
    }
    .carousel-item.active .about-box:nth-child(1),
    .carousel-item.active .about-box:nth-child(2) {
        border-right: 0;
    }
    .recent-news .recent-card {
        margin-bottom: 50px;
    }
    .participants {
        padding: 25px 0 35px;
    }
    .participants .item.show {
        width: 29%;
        height: 455px;
    }
    .participants .item.show .filter {
        height: 350px;
    }
    .participants .item {
        width: 8%;
        height: 455px;
    }
    .participants .filter {
        height: 300px;
        margin-top: 50px;
        border-radius: 5px;
    }
    .participants .item h3 {
        font-size: 16px;
    }
    .participants .item.item-9 h3 {
        font-size: 14px;
    }
    .participants .item.show h3 {
        font-size: 25px;
    }
    .participants .item.show h3 span {
        font-size: 16px;
    }
    .participants .item.show h4 {
        font-size: 22px;
        bottom: -70px;
    }
    .participants .item.item-9.show h3 {
        font-size: 23px;
    }
    .participants .button {
        background-size: 290%;
    }
    .participants .button img {
        margin-top: 10px;
        width: 40px;
    }
    .participants .prev {
        padding-right: 5px;
        background-position: top right 10px;
    }
    .recent-news {
        padding: 30px 0 80px;
    }
    .recent-news .recent-card img.rnews-border {
        bottom: 0;
        top: 208px;
        width: 67%;
        left: 97px;
    }
    .investigators {
        padding: 40px 0 90px;
    }
    .investigators .heading h2 {
        margin-bottom: -35px;
    }
    .investigators .carousel-item.active{
        justify-content: center!important;
    }
    .investigators .carousel-item.active .investigator:nth-child(1),
    .investigators .carousel-item.active .investigator:nth-child(3){
        display: none;
    }
    .investigators .carousel-item.active .investigator:nth-child(2) .video video{
        transform:none;
    }
    .investigators .carousel-item.active .investigator:nth-child(2) .video img.play-btn {
        left: 25px;
        top: 185px;
    }
    .investigators .carousel-item.active .investigator:nth-child(2) .text {
        margin:0!important;
        width: 100%;
    }
    .investigators .carousel-item .text h3 {
        margin-top: 5px;
    }
    .investigators .carousel .carousel-control-prev-icon {
        left: 5px;
    }
    .investigators .carousel .carousel-control-next-icon {
        right: -15px;
    }
    footer {
        margin-top: -180px;
        padding-top: 160px;
    }
    .footer-logo {
        text-align: center !important;
    }
    .footer-logo .right-border-line {
        display: none;
    }
    .footer-text p {
        text-align: center;
        font-size: 18px;
    }
    .our-study-image {
        margin-bottom: 0px;
    }
    .study-purpose p {
        margin: 0px 0;
    }
    .study-purpose {
        margin: 0px 0 67px;
    }
    .recent-news .heading h1,
    .recent-news .recent-card{
        margin-bottom: 25px;
    }
    .recent-news .recent-card img:nth-of-type(1){
        display: block;
        margin:0 auto;
    }
    .recent-news .recent-card a img{
        display: inline!important;
    }
    .inner-banner-1 {
        margin-top: -105px;
        padding: 146px 0 27px;
    }
    .family-study-text,
    .consortium-text,
    .genomics-text{
        text-align:center;
        padding-top:0px;
    }
    .enroll-study {
        margin-top: 11px;
    } 
    .enroll-text h1 {
        font-size: 27px;
        line-height: 34px;
    }
    .addres-box img {
        width: 70%;
    }
    .addres-box.left-address {
        margin-bottom: 30px;
    }
    .addres-box.right-address {
        margin-bottom: 30px;
    }
    
    .inner-banner-2 {
        padding-bottom: 15px;
    }
    .inner-banner-2 .banner-image img {
        margin: -102px 0 0px;
        height: 175px;
    }
    .inner-banner-2 .banner-text h1 {
        bottom: 80px;
    }
    .model .heading h2 {
        font-size: 25px;
    }
    .model .heading h5 {
        font-size: 18px;
    }
    .model .text p {
        font-size: 15px;
    }
    .model .investigator-profile h5 {
        font-size: 22px;
    }
    .model .investigator-profile img {
        bottom: 105px;
    }
    .profile-section {
        margin-bottom: 60px;
    }
    .profile-text p,
    .profile-text a{
        font-size:17px ;
        margin-top:15px;
    }
    .profile-card > img{
        left:40px;
        top:190px;
    }
    .profile-card h4{
        font-size: 20px;
    }
    .profile-card p{
        font-size: 16px;
        padding: 0px;
    }
    .profile-text p:nth-child(2),
    .profile-text p:nth-child(3),
    .profile-text a,
    .profile-card h4,
    .profile-card p{
        margin-top: 10px!important;
    }
    .nia-text p{
        font-size: 20px;     
    }
    .nia-text a{
        font-size: 16px;
    }
    .nia {
        padding: 15px 0px 60px;
    }
    .nia-text a:nth-child(2){
        padding:8px 20px;
    }
    .nia-text a:nth-child(3){
        padding:8px 20px;
    }
    .nia-text a:nth-child(4){
        padding:8px 10px; 
    }
     .right-butn a {
        padding: 10px 20px;
        font-size:15px;
    }
    .left-text p {
        margin-top: 10px;
    }
    .book-img{
        text-align: center!important;
        margin-top:20px;
    }
    .nia-banner .banner-text h1 {
        bottom: 35px;
    }
    .inner-banner-2 .banner-text.news-bnr h1 {
        bottom: 78px;
        padding-left: 57px;
    }
    .new-left-box {
        margin-top: 56px;
        padding-right: 15px;
    }
    .main-news .news-text h1 {
        font-size: 27px;
    }
    .tabs {
        margin-bottom:45px;
    }
    .tabs nav a {
        font-size: 18px;
    }
    .tabs .nav-research h2 {
        background-position-x: 105px;
    }
    .tabs .nav-investigator h2 {
        background-position-x: 120px;
    }
    .tabs .nav-investigator .investigator {
        max-width: inherit;
    }
    .tabs .nav-investigator .investigator img {
        width: 90%;
    }
    .tabs .nav-investigator .investigator .img-border {
        background-position-x: 64%;
    }
    .tabs .nav-research .staff-member .img-border {
        background-position-x: 67%;
    }
    .tabs .nav-research .staff-member img {
        width: auto;
    }
    .tabs .nav-participate h2 {
        background-position-x: 17%;
    }
     .animal-img {
        margin-left:0px;
    }
    .nonhuman-specie p{
        font-size: 16px;
    }
    .carousel-indicators-custm {
        display:contents;
    }
    .carousel-indicators-custm li {
        margin-right: 0px;
        padding: 0 6px 80px;
    }
    .carousel-indicators-custm li:first-child,
    .carousel-indicators-custm li:nth-child(2),
    .carousel-indicators-custm li:nth-child(3),
    .carousel-indicators-custm li:nth-child(4) {
        padding: 0 10px 80px;
    }
    .tabs .nav-participate .carousel {
        margin-top: 0px;
    }
    .inner-banner-5 {
        margin-top: -105px;
        padding-top: 60px;
    }
    .inner-banner-5 h1 {
        position: relative;
        bottom: 75px;
        font-size:6vw;
    }
    .baner-dog-img {
        display: none;
    }
    .navbar-collapse {
        position: absolute;
        top: 56px;
    }
	.wpcf7-response-output {
		top: 580px;
	}
	.wpcf7 form.sent .wpcf7-response-output {
		top: 540px;
	}
	.investigators .carousel-item.active .investigator:first-child {
		margin-top: 60px;
	}
	.investigators .carousel-control-prev-icon, .investigators .carousel-control-next-icon {
		top: 155px;
	}
	.search-and-btn li.active img {
		margin-left: 40px;
	}
	.search-box {
		right: 63%;
	}
	.recent-card h3 {
        margin-top: 29px;
    }
    .recent-card h3,
    .recent-card p,
    .recent-card a {
        margin-left: 25px !important;
        margin-right: 25px !important;
    }
    .participants.ann-doe {
        margin-bottom: 38px;
        padding: 55px;
    }
}
@media(max-width:575px){
    header {
        background-position: center left 40%;
        padding:10px 0 75px;
    }
    header .header-nav {
        margin-top: 5px;
    }
    header .navbar {
        margin-top: -5px;
        left: 70%;
    }
	.header-nav .search-and-btn {
		margin-left:-15px;
	}
    .header-nav .search-and-btn li:nth-child(1) button {
        margin-left: -30px;
    }
    .header-nav .search-and-btn li:nth-child(1) button img{
        width: 18px;
    }
    .header-nav .search-and-btn li:nth-child(2) a{
        padding: 7px 14px;
    }
    .main-banner .banner-image img {
        margin-top: -65px;
    }
    .main-banner .banner-text h1 {
        font-size: 6vw;
		bottom: 68px;
		left: 0px;
    }
    .investigators .heading h2 {
        margin-bottom: -35px;
        padding-left: 10px;
    }
    .investigators .carousel-item.active .investigator:nth-child(2) .video img.play-btn {
        top: 135px;
        width: 40px;
    }
    .about-us .heading h2 {
        background-position-x: 20%;
        font-size: 30px;
    }
    .about-us .card{
        margin-bottom:-70px!important;
    }
    .about-us .about-btn a {
        margin-top: 25px;
    }
    .study-purpose h3 {
        font-size: 8vw;
        background-position: 0px;
    }
    .study-purpose p {
        font-size: 16px;
    }
    .participants .item.show {
        width: 34%;
    }
    .participants .item {
        width: 7%;
    }
    .participants .button img {
        margin-top: 0px;
    }
    .non-human .heading h2 {
        font-size: 25px;
        padding-left: 40px;
    }
    .non-human {
        padding: 55px 0 25px;
    }
    .recent-news .recent-card img.rnews-border {
        width: 90%;
        left: 17px;
    }
    .footer-nav ul {
        text-align: left;
        padding: 0;
        margin-left: 15px;
    }
    .footer-nav ul li:nth-child(5) {
        width: 100%;
    }
    .footer-nav ul li {
        width: 48%;
        margin: 10px 0px;
    }
    .inner-banner-1 {
        margin-top: -70px;
        padding: 137px 0 4px;
    }
    .inner-banner-1 .banner-text h1 {
        font-size: 9vw;
    }
    .enroll-text > p {
        font-size: 16px;
    }
    .enroll-text h1 span {
        font-size: 31.62px;
    }
    .enroll-text h1 {
        font-size: 21px;
        line-height: 31px;
    }
    .addres-box img, .addres-box h5, .addres-box ul li {
        margin-bottom: 5px;
    }
    .mt-5.enroll-form-area textarea.form-control {
        height: 80px;
    }
    .submit-btn a {
        font-size: 23px;
    }
    .enroll-form-input::placeholder{
        font-size:14px;
    }
    .about-box {
        margin-bottom: 70px;
    }
    .about-box:last-child {
        margin-bottom: 40px;
    }
    
    .inner-banner-2 .banner-image img {
        margin-top: -67px;
        height: 125px;
    }
    .inner-banner-2 .banner-text h1 {
        bottom: 45px;
        font-size: 8vw;
    }
    .model {
        margin-top: 0px;
    }
    .model .investigator-profile img {
        bottom: 125px;
    }
    .analysis {
        margin: 24px 0 35px;
    }
    .profile-card > img{
        left:30px;
        top:140px;
    } 
    .profile-text p{
        font-size:16px;
    }
    .profile-text a{
        font-size:14px ;
    }
    .profile-card{
        margin-top: 60px;
    }
    .nia-text p{
        font-size: 17px;   
    }
    .nia-text a{
        font-size: 13px;
    }
    .publications {
        padding: 20px 0 40px;
    }
    .publications .heading h1 {
        font-size: 9vw;
    }
    .right-butn{
        text-align: center!important;
        margin-top:20px;
    }
    .nia-text a {
        width: 100%;
    }
    .inner-banner-2 .banner-text.news-bnr h1 {
        bottom: 47px;
        padding-left: 57px;
    }
    .main-news-imag .social-links a {
        padding: 6px;
    }
    .main-news .news-text h1 {
        font-size: 25px;
    }
    .new-left-box {
        margin-top: 32px;
        padding-right: 15px;
    }
    .main-news {
        margin-bottom: 24px;
    }
    .recent-post {
        margin: 0px 0px 32px;
    }
    
    .tabs nav a {
        padding:10px 0;
        font-size: 7vw;
    }
    .tabs nav a span{
        border-right: 0;
    }
    .tabs .nav-research h2 {
        background-position-x: 30px;
    }
    .tabs .nav-investigator h2 {
        background-position-x: 40px;
    }
    .tabs .nav-investigator .investigator {
        margin-bottom: 70px;
    }
    .tabs .nav-investigator .investigator img {
        width: 97%;
    }
    .tabs .nav-investigator .investigator .img-border {
        background-position-x: 77%;
    }
    .tabs .nav-research .staff-member .img-border {
        background-position-x: 78%;
    }
    
    .tabs .nav-participate h2 {
        background-position-x: 0%;
        font-size: 8vw;
    }
    .tabs .nav-participate .carousel {
        padding: 40px 20px;
    }
    .tabs .nav-participate .slider-icon {
        max-width: 33%;
        flex: 0 0 33%;
        margin-bottom: 20px;
    }
    .nonhuman-specie img{
        width: 100%;
    }
    .carousel-indicators-custm li {
        padding: 0 4px 80px!important;
    }
    .inner-banner-5 {
        margin-top: -65px;
    }
    .profile-non-human {
        padding: 95px 0 75px;
    }
    .tabs .nav-participate .carousel .description h4 {
        font-size: 19px;
    }
	.address {
		margin-top: 30px;
	}
	.wpcf7-response-output {
		top: 550px;
	}
	.wpcf7 form.sent .wpcf7-response-output {
		top: 505px;
	}
	.home.blog .investigators .wp-video {
    	max-width: 80% !important;
	}
	.investigators .carousel .carousel-control-prev-icon {
		left: -25px;
	}
	.carousel .carousel-control-prev-icon, .carousel .carousel-control-next-icon{
		width: 70px!important;
	}
	.investigators .carousel .carousel-control-next-icon {
		right: -5px;
	}
	.non-human .graph h3 {
        font-size: 26px;
    }
	.search-and-btn li.active img {
		margin : 0px 0px 0px -5px;
	}
	.header-nav .search-and-btn li:nth-child(2) a {
		margin-left: 5px;
	}
	.search-box {
		width: 292px;
		right: 25%;
	}
	.search-box:before {
		display:none;
	}
	.search-box input[type="text"] {
		width: 210px;
		margin-left: 10px;
	}
	.main-news-imag .social-links .heateorSssSharingRound{
		padding:2px!important;
		margin-right: 5px!important;
	}
	.investigators .carousel-item.active .investigator:first-child .video iframe {
		width: 100%;
	}
	.recent-card h3, .recent-card p, .recent-card a {
        margin-left: 14px !important;
        margin-right:14px !important;
    }
    .participants.ann-doe {
        margin-bottom: 0px;
        padding: 55px;
    }
}
@media(max-width: 410px){
    .header-nav .search-and-btn li:nth-child(2) a {
        margin-left:0px;
    }
    .main-banner .banner-text h1 {
        bottom: 65px;
    }
    .participants .heading h2 {
        padding-left: 15px;
        font-size: 30px;
    }
    .investigators .carousel-item.active .investigator:nth-child(2) .video img.play-btn {
        top: 115px;
    }
    .non-human .heading h2 {
        font-size: 22px;
    }
    .participants .item.show {
        width: 33%;
    }
    .recent-news .recent-card img.rnews-border {
        left: 15px;
        top: 190px;
    }
    footer {
        margin-top: -190px;
        padding-top: 170px;
    }
    .footer-nav ul {
        margin-left: 0px;
    }
    .inner-banner-1 {
        padding: 137px 0 0px;
    }
    .inner-banner-2 .banner-image img {
        margin-top: -65px;
    }
     .profile-card > img{
        left:30px;
        top:120px;
    }
    .profile-text a{
        font-size:13px;
        padding-right:14px;
        padding-left: 14px;
    }
    .profile-card h4{
        font-size: 16px;
    }
    .profile-card p{
        font-size: 14px;
    }
    .nia-text p{
        font-size: 15px;     
    }
    .nia-text a{
        font-size: 12px;
    }
    .nia-text a:nth-child(4){
        margin-top: 6px;
        padding: 10px 10px;
    }
    .nia-text a:nth-child(2){
        margin-top:4px;
        padding: 5px 8px;
    }
    .nia-text a:nth-child(3){
        margin-top:4px;
        padding: 5px 8px;
    }
    .main-news-imag .social-links a {
        padding: 4px;
    }
    .main-news .news-text h1 {
        font-size: 22px;
    }
    .tabs .nav-research h2 {
        background-position-x: 5px;
    }
    .tabs .nav-investigator h2 {
        background-position-x: 15px;
    }
    .tabs .nav-research .staff-member img {
        width: 63%;
    }
    .nonhuman-specie p{
        font-size:15px ;
    }
    .carousel-indicators-custm li {
        padding: 0px 10px 80px!important;
    }
	.tabs .nav-investigator .investigator img {
		width: 85%;
	}
	.non-human .graph h3 {
        font-size: 21px;
    }
	.header-nav .search-and-btn {
		margin-left: -35px;
	}
	.search-box {
		right: 15%;
	}
	.main-news-imag .social-links .heateorSssSharingRound {
		margin-right: 0px!important;
	}
}
@media(max-width: 374px){
    .recent-news .recent-card img.rnews-border {
        top: 182px;
    }
    .investigators .carousel-item.active .investigator:nth-child(2) .video img.play-btn {
        top: 105px;
    }
    .enroll-text h1 {
        font-size: 20px;
        line-height: 27px;
    }
    .enroll-text h1 {
        margin-bottom: 4px;
    }
    .profile-card > img{
        top:90px;
    }
    .profile-text a{
        padding-right:12px;
        padding-left: 12px;
    }
    .main-news-imag .social-links a {
        margin-right: -2px;
    }
    .tabs .nav-research h2 {
        background-position-x: 0px;
    }
     .nonhuman-specie p{
        font-size:14px ;
    }
    .carousel-indicators-custm li {
        padding: 0px 8px 80px!important;
    }
	.header-nav .search-and-btn li:nth-child(1) button img {
		max-width: 170%;
	}
	.header-nav .search-and-btn li:nth-child(2) a {
		white-space:nowrap;
    }
	.header-nav .search-and-btn {
		margin-left: -40px;
	}
}
@media(max-width: 359px){
    header {
        padding-bottom:150px;
    }
    .logo a img {
        top: 5px;
    }
    header .navbar {
        margin-top: 40px;
        left: 65%;
    }
	.header-nav .search-and-btn {
		margin-left: 0px;
	}
    .header-nav .search-and-btn li:nth-child(2) a{
        font-size:15px;
    }
    .main-banner .banner-image img {
        margin-top: -95px;
    }
    .main-banner .banner-text h1 {
        bottom: 50px;
    }
    .about-us .heading h2 {
        background-position-x: 10%;
    }
    .non-human {
        padding: 40px 0 0px;
    }
    .participants .item.show {
        width: 31%;
    }
    .recent-news .heading h1 {
        font-size: 30px;
        background-position-x: 10px; 
    }
    .recent-news .recent-card img.rnews-border {
        top: 160px;
    }
    .investigators .heading h2 {
        padding-left: 13px;
        font-size:27px;
    }
    .investigators .carousel-item.active .investigator:nth-child(2) .video img.play-btn {
        top: 85px;
    }
	.investigators .carousel-control-prev-icon,
	.investigators .carousel-control-next-icon {
		top: 145px;
	}
	.investigators .carousel-item.active .investigator:first-child .video iframe {
		height: 250px;
	}
    .inner-banner-1 {
        margin-top: -95px;
        padding: 133px 0 0px;
    }
    .inner-banner-2 {
        padding-bottom: 5px;
    }
    .inner-banner-2 .banner-image img {
        margin-top: -100px;
    }
    .nia-text a:nth-child(4){
        font-size: 10px;
    }
    .nia-banner .banner-text h1 {
        bottom: 45px;
    }
    .main-news-imag .social-links a {
        padding: 2px;
    }
    .tabs .nav-research h2 {
        font-size: 27px;
    }
    .tabs .nav-investigator h2 {
        background-position-x: 0px;
    }
    .tabs .nav-participate h2 {
        padding-left: 25px;
        margin-bottom: 10px;
    }
    .tabs .nav-participate .carousel-control-next,
    .tabs .nav-participate .carousel-control-prev{
        width: 21%;
    }
    .inner-banner-5 {
        margin-top: -95px;
    }
	.header-nav .search-and-btn li:nth-child(1) button {
		margin-left: -55px;
	}
	.header-nav .search-and-btn li:nth-child(2) a {
		margin-left: -18px;
	}
	.tabs .nav-investigator .investigator img {
		width: 70%;
	}
	.search-and-btn li.active img {
		margin-left:-45px;
		max-width: 20px;
	}
	.search-box {
		right: 7%;
	}
	.main-news-imag .social-links {
		width: 60%;
	}
}
@media not all and (min-resolution:.001dpcm) { 
    @media {
        .recent-news .recent-card img.rnews-border{
            bottom:47%;
        }
    }
}
/*== Media Queries== */